<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<div class="container">
  <div class="row">
    <% @listings.each do |listing|%>
      <div class="col-xl">
          <div class="card" style="width: 18rem;">
            <% if listing.images? %>
              <%= image_tag listing.images[0], class: "w-100" %>
            <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= listing.name %></h5>
                <p class="card-text">$<%= listing.price %></p>
                <a href="/listings/<%=listing.id%>" class="btn btn-primary">View</a>
                  <% if current_user.customer?%>
                     <a class="btn btn-primary"> Verified: <%= listing.verification %></a>
                  <% else current_user.moderator? || current_user.superadmin? %>
                     <a href="/listings/<%= listing.id %>/verify" class="btn btn-primary">Verified: <%= listing.verification %></a>
                  <% end %>
              </div>
          </div>
      </div>
    <% end %>
  </div>
</div>

<%= will_paginate @listings %>