<p id="notice"><%= notice %></p>
  <% if @listing.images? %>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

      <!-- CAROUSEL INDICATORS -->
      <ol class="carousel-indicators">        
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>

      <!-- CAROUSEL IMAGES -->
      <div class="carousel-inner">
      <% @listing.images.each do |img| %>
        <div class="carousel-item <%= 'active' if img == @listing.images[0] %>">
        <img class ="d-block w-50" src=<%= img.url %> alt="First slide" >   
        </div>
      <% end %>     
      </div>
      
      <!-- CAROUSEL LEFT/RIGHT -->
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<% end %>   



<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Place type:</strong>
  <%= @listing.place_type %>
</p>

<p>
  <strong>Property type:</strong>
  <%= @listing.property_type %>
</p>

<p>
  <strong>Room number:</strong>
  <%= @listing.room_number %>
</p>

<p>
  <strong>Bed number:</strong>
  <%= @listing.bed_number %>
</p>

<p>
  <strong>Guest number:</strong>
  <%= @listing.guest_number %>
</p>

<p>
  <strong>Country:</strong>
  <%= @listing.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @listing.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @listing.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @listing.zipcode %>
</p>

<p>
  <strong>Address:</strong>
  <%= @listing.address %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Verified</strong>
  <%= @listing.verification %>
</p>


<p>
  <strong>User:</strong>
  <%= @listing.user_id %>
</p>


<div class="reserve-details">
  <a class="btn btn-primary" href="/listings/<%= @listing.id %>/reservations/new">Book Now!</a>
</div>


<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
