<h1>Make Your Booking!</h1>

<%= form_for :reservations, html: { multipart: true }, action: :create, method: :post do |f| %>

<p>Check-in date: <%= f.date_field :start_date %></p>
<p>Check-out date: <%= f.date_field :end_date %></p>

<p>Guest Number:
<% i = [1,2,3,4,5,6] %>
 <%= f.select :guest_number, i %>
</p>


<%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.hidden_field :listing_id, :value => @listing.id %>
<%= f.submit "Submit" %>
<% end %>