<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>


</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="/">PairBnb</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" data-toggle="collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	     <li class="nav-item">
	        <a class="nav-link" href="/">Home</a>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Login
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <% if signed_in? -%>
	          	<a class="nav-link" <%= link_to "Sign out", sign_out_path, method: :delete %>
	          <% else -%>
		          <a class="dropdown-item" href="/sign_in">Login</a>
		          <a class="dropdown-item" href="/sign_up">Sign Up</a>
		          <a class="dropdown-item" href="/auth/google_oauth2">Google</a>
		          <div class="dropdown-divider"></div>
		      <% end %>
	        </div>
	      </li>
	      <li class="nav-item">
	        <% if signed_in? -%>
	        	<a class="nav-link"<%= link_to "Listings", listings_path %></a>
	        <% else -%>

	        <% end %>
	      </li>
	    </ul>
	   <%= form_tag(listings_path, :method => "get", id: "search-form") do %>
		    <%= text_field_tag :search, params[:search], placeholder: "Search Listings" %>
		    <%= submit_tag "Search", :name => nil %>
		<% end %>
	  </div>
	 	<% if signed_in? %>
			<a href="/users/edit">
			<%= image_tag current_user.avatar.thumb.url, class:"rounded-circle" %>
			</a>
		<%end %>

	</nav>




	  <div id="flash">
	    <% flash.each do |key, value| -%>
	      <div id="flash_<%= key %>"><%=h value %></div>
	    <% end %>
	  </div>


	  <%= yield %>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

	<!-- Load the Client component. -->
	<script src="https://js.braintreegateway.com/web/3.6.3/js/client.min.js"></script>

	<!-- Load the Hosted Fields component. -->
	<script src="https://js.braintreegateway.com/web/3.6.3/js/hosted-fields.min.js"></script>



</body>
</html>
